footer
  ul.social-icons
    li
      a(href="" traget="_blank")
        i.icon-facebook
    li
      a(href="" traget="_blank")
        i.icon-twitter
    li
      a(href="" traget="_blank")
        i.icon-linkedin2
    li
      a(href="" traget="_blank")
        i.icon-google-plus
  div.clear
  ul.contact
    li
      i.icon-phone
      | Phone 425 318 2622
    li
      i.icon-location
      | 220 2nd Avenue South, Seattle, WA 98104
    li
      i.icon-bubble2
      | hello@anchored.io
  div.clear
  div.copyright &copy; Copyright 2015 Anchored
