extends layout

block content
  div.scroll-control
    div.section.logo-section
      div.logo ANCHORED
        div.logo-extra
        div.logo-bottom-text Web Design
      div.tagline Anchored is a leading Web Design Agency in Seattle specializing in Squarespace
      div.logo-dark-overlay.cover
      div.scroll-down
        div.scroll-down-arrow.first
        div.scroll-down-arrow.second
    div.section
      h1= title
      p Welcome to #{title}
    div.section Section 1
    div.section Section 2
    div.section Section 3
    div.section.map-section
      div.map-dark-overlay.cover
      div.logo ANCHORED
        div.logo-extra
      div.map-address 220 2nd Avenue South Seattle, WA 98104
      div.map-marker Impact Hub
      div.btn-wrapper
        a.btn.btn-map-view VIEW THE MAP
        a.btn.btn-map-directions GET DIRECTIONS
