doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200|Open+Sans:400,300', type='text/css')
    block js
      script(src='http://localhost:35729/livereload.js')
      script(src='/js/bundle.js')
  body
    include ./loader.jade
    include ./menu.jade
    include ./menu_button.jade
    block header
    block content
