div.menu
  div.menu-background
  ul
    li
      a(href='/') Home
    li
      a(href='/about') About
    li
      a(href='/projects') Projects
    li
      a(href='/project') Project
    li
      a(href='/contact') Contact
