extends layout

block content
  div.scroll-control
    div.section.projects-section
      div.project.project-1
        div.project-image
        div.project-text PROJECT 1
          span DESIGN
      div.project.project-2
        div.project-image
        div.project-text PROJECT 2
          span TETA
      div.project.project-3
        div.project-image
        div.project-text PROJECT 3
          span COJON
      div.project.project-4
        div.project-image
        div.project-text PROJECT 4
          span SANZ
