extends layout

block content
  div.scroll-control
    div.section.project-section
      div.project-header
        div.project-header-banner
          div.project-header-banner-inner.project-header-banner
            div.project-header-banner-overlay
            div.project-header-text
              h2 WEB DESIGN / WEB DEVELOPMENT
              h1 PROJECT 1
        div.project-header-mac
          div.project-header-mac-content
            img(src="/img/project/desktop.jpg")
          img.project-header-mac-image(src="/img/project/mac.svg")
      div.content-region
        div.project-description
          h2 What is it?
          p Does he really need an introduction? He is one of Australia's most recognisable media personalities and with over 50 years in the industry he has credits a mile long and a conviction wrap sheet to match.
      div.project-desktop
        img(src="/img/project/desktop.jpg")
      div.content-region
        div.project-phones
          div.project-phone.project-iphone
            div.project-phone-content
              img(src="/img/project/mobile-iphone.jpg")
            img(src="/img/project/iphone.svg")
          div.project-phone.project-samsung
            div.project-phone-content
              img(src="/img/project/mobile-galaxy.jpg")
            img(src="/img/project/galaxy.svg")
        div.project-ipad
          div.project-phone-content
            img(src="/img/project/mobile-ipad.jpg")
          img(src="/img/project/ipad.svg")
        div.project-launch


